.carousel {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: #000;
}

.btn__next {
    right: -20px;
}

.carousel-btn {
    width: 35px;
    height: 35px;
    border: none;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.129331);
}

.carousel__list {
    position: absolute;
    left: 30px;
    margin-top: 37px;
    margin-bottom: 45px;
    display: flex;
    transition: all 0.2s ease-in-out;
    transform: translateX(-0%);
}

.carousel__item  {
    margin-right: 53px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: #B6CAFB;
    border-radius: 20px;
    cursor: pointer;
}

.carousel__item-name {
    position: absolute;
    width: 120px;
    bottom: -40px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #4A4A4A;
}

.carousel__item:nth-child(2),
.carousel__item:nth-child(6) {
    background: #B4E2E1;
}
.carousel__item:nth-child(3),
.carousel__item:nth-child(9) {
    background: #FF9E83;
}
.carousel__item:nth-child(4) {
    background: #F7E233;
}
.carousel__item:nth-child(5),
.carousel__item:nth-child(8) {
    background: #F6DAC2;
}
